body {
    background-image: url("../image/tree-bark.png");
    background-color: #b37100;
}

h3 {
    color:white;
    font-family: sans-serif;
}

header {
    text-align: center;
    font-size:50px;
    font-weight: bold;
    font-family: sans-serif;
}

.headerbg {
    position: relative;
    height: 70px;
    background-color: rgba(0,0,0,0.2)
}

img {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

form{
    text-align: center;
}